.info {
    width: 100%;
    background-color: var(--primary-950);
    color: var(--primary-50);
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
.info__content, .info .price {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font: var(--title-xl);
}
.info__title {
    font: var(--title-m);
    color: var(--secondary-200);
}
.info > svg {
    color: var(--secondary-400);
    height: 80px;
    width: auto;
    display: none;
}
@media (min-width: 768px) {
    .info > svg {
        display: block;
    }
}
