main:has(.legal) {
    margin-bottom: 0;
    flex-shrink: 0;
}

.legal {
    width: 100vw;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background: linear-gradient(200deg, var(--secondary-200) 15.86%, var(--primary-50) 85.94%);
    box-sizing: border-box;
    min-height: 100vh;
}

.legal h1 {
    color: var(--primary-950);
    margin-bottom: 10px;
}

.legal__section {
    background-color: var(--primary-950);
    color: var(--primary-50);
    padding: 30px 25px;
    margin: 10px 0;
    border-radius: 20px;
    width: 90%;
    max-width: 720px;
    box-shadow: 0 10px 50px 1px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
}

.legal__section h2 {
    color: var(--secondary-400);
    margin-bottom: 15px;
}

.legal__section p {
    font: var(--text-m);
    margin: 8px 0;
}

.legal__section ul {
    margin: 8px 0;
    padding-left: 20px;
}

.legal__section li {
    font: var(--text-m);
    margin: 4px 0;
}

.legal__section a {
    color: var(--secondary-200);
    text-decoration: underline;
}

@media (min-width: 768px) {
    .legal__section {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .legal__section {
        width: 70%;
    }
}

@media (min-width: 1440px) {
    .legal__section {
        width: 60%;
    }
}
